<% provide(:title, "About") %>
<h1>About</h1>
<div class="center jumbotron">
    <h2>Disclaimer</h2>
    <p>Please note that the financial information provided is 15 minutes 
    delayed and SHOULD NOT be used for actual trading.</p>


    <div class="centerclass">
        <%= link_to image_tag("stonks.png", alt: "Stonks meme"),
                'https://www.youtube.com/watch?v=dQw4w9WgXcQ' %>
    </div>
</div>
