<% provide(:title, "About") %>
<h1>About</h1>
<div class="center jumbotron">
    <p>Please note that the financial information provided is 15 minutes delayed and SHOULD NOT be used for actual trading</p>
    <div class="center image">
        <%= link_to image_tag("stonks.png", alt: "Stonks meme"),
                'http://rubyonrails.org/' %>
    </div>
</div>
