<% provide(:title, "Help") %>
<h1>Help Page</h1>
<div class="center jumbotron">
    <p>Contact [gilmourt] with any concerns. If you don't know what that means you shouldn't be looking at this site</p>
</div>

