<% provide(:title, "Help") %>
<h1>Help Page</h1>
<div class="jumbotron">
    <div class="center">
        <p>Contact [gilmourt] with any concerns. If you don't know what that means you shouldn't be looking at this site</p>
    </div>

    <h2 class="leftclass">Guide</h2>
    <ul>
        <li>To access the home page click the logo in the top left.</li>
        <li>To access the portfolio, about, or help pages click the associated labels in the top right.</li>
    </ul>
    <h2 class="leftclass">In the portfolio view:</h2>
    <ul>
        <li>Click on an existing stock ticker to view more detailed on that stock</li>
        <li>Click on the remove button on the right of a row to remove that stock from the table</li>
        <li>Click on the add stock button in the bottom row of the table to add a new stock</li>
    </ul>
    <h2 class="leftclass">In the new stock view:</h2>
    <ul>
        <li>Click in the text box to type in a new ticker to add</li>
        <li>Make sure to type in a valid stock ticker, if the ticker isn't recognized you will see an error message and get another chance to enter the information</li>
        <li>Click on the "Create Stock" button to save that stock to the portfolio. You will be redirected to a informational view about the new stock you added.</li>
        <li>Click the "Back" button to go back to the portfolio view</li>
    </ul>
    <h2 class="leftclass">In the detailed stock view</h2>
    <ul>
        <li>The trading information is displayed with the most recent price and daily change displayed at the top of the page. A table describes further information about that company.</li>
        <li>Click the "Back" button to go back to the portfolio view</li>
    </ul>
    
</div>

