<% provide(:title, "Home") %>
<div class="center jumbotron">
    <h1>Finance Info</h1>
    <p>
        Down with wall street
    </p>
    <div class="center image">
    <%= link_to image_tag("stonks.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
    </div>
</div>


