<% provide(:title, "Home") %>
<h1 class="maintitle">Finance Info</h1>
<div class="center jumbotron">
   <p>This website allows for the curation of a basic stock portfolio that will display current and previous closing prices of user selected stocks.</p>
   <%= button_to "Enter Portfolio", stocks_path, :method => :get %>
</div>


