<% provide(:title, "Portfolio") %>


<h1>Your Portfolio</h1>

<div class="center jumbotron">
    <p id="notice"><%= notice %></p>
    <%@stocks.sort_by {|stock| :ticker}%>
    <%=render partial: "stocktable", locals: {stocks: @stocks} %>
    <%= button_to "Refresh Portfolio", stocks_path, :method => :get%>
</div>
